#aboutNumber{
   
    color :#e94b27;
   font-weight: bold;
    width: 80%;
    margin: 0 auto;

}

#aboutNumber h1{
    text-align:center;
    padding-bottom: 30px;
   font-weight: bold;
}
